.DS_Store
.ipynb_checkpoints
.ipynb_checkpoints/
labels.txt
*.tfrecords
*.gz
*.tar
*.zip
*.wav
*.hd5
*.pb
*.pkl
aerial/
aerialimages/
aerialsmall/
aerialmed/
aeriallarge/
aerialtiny/
aml_config/
outputs/
docker_export/
test_images/
DataScientistTrack/02-AML-EndToEndWalkthrough/script
aml_config/
datasets/
bottleneck/
script/
bottleneck_features/
*.log
automl_errors.log
*.yml
azureml-models
project
__pychache__
_pychache_
model_def

